*{
    margin: 0;
}
  
body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(21, 21, 61);
}
  
/* P */
p {
    margin: 24px 0;
    line-height: 2;
    color: white;
}

/* TAG A  HOVER */
.p-p{
    transition: .4s;
}

.p-p:hover{
    font-size: 17px;
    color: #ff5100;;
}
  
.wrapper {
  padding: 32px;
}

/*COOKIE CONTAINER*/

.cookie-container {
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    background: #456491;
    color: #f5f6fa;
    padding: 0 32px;
    box-shadow: 0 -2px 16px rgba(11, 24, 41, 0.582);
  
    transition: 400ms;
}
  
.cookie-container.active {
    bottom: 0;
}
  
.cookie-container a {
    color: #f5f6fa;
}
  
.cookie-btn {
    background: #fc7b40;
    border: 0;
    color: #f5f6fa;
    padding: 12px 48px;
    font-size: 18px;
    margin-bottom: 16px;
    border-radius: 8px;
    cursor: pointer;
}